
div {
  background-color: lemonchiffon;
  text-align: center;
  height: 7em;
  padding: 5px;
}

h2 {
  position: fixed;
  margin-left: 2em;
}

ul {
  display: flex;
  justify-content: end;
  align-items: center;
  /* padding:; */
}


ul li{
  list-style-type:none;
  padding: 1em;
}

