<!DOCTYPE html>
<html>
	<head>
		<title>Index.ejs</title>
		<style>
			div {
				margin-bottom: 50px;
			}
		</style>
	</head>

	<body>
		<form action="receive" method="POST">
			<fieldset>
				<legend>이름/성별</legend>
				<label>
					이름:
					<input type="text" name="name" placeholder="이름" required />
				</label>
				<input type="radio" name="gender" value="male" id="gender1" /> 남
				<label for="gender1">남</label>
				<input type="radio" name="gender" value="female" id="gender2" /> 여
				<label for="genger2">여</label>
			</fieldset>
			<fieldset>
				<input type="checkbox" name="sport" /> 축구
				<input type="checkbox" name="sport" /> 야구
				<input type="checkbox" name="sport" /> 농구 <br />
			</fieldset>
			<input type="password" name="password" />

			<select name="year">
				<option value="2022">2022</option>
				<option value="2021">2021</option>
				<option value="2020">2020</option>
				<option value="2019">2019</option>
				<option value="2018">2018</option>
			</select>
			<input type="reset" value="reset" /><button>전송</button>
		</form>
	</body>
</html>
