<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>API-POST</title>
</head>
<!--// 실습4. API-POST-->
<body align="center">

<form action="mvc-post" th:action th:object="${form}" method="post">
  <div>
    <label th:for="name">이름</label>
    <input type="text" th:field="*{name}">
  </div>

  <div>
    <label th:for="gender">성별</label>
    <input type="radio" th:field="*{gender}" th:value="여성" th:text="여성"/>
<!--    <label th:for="${#ids.prev('gender')}" th:text="${type.description}">여성</label>-->
    <input type="radio" th:field="*{gender}" th:value="남성" th:text="남성"/>
  </div>

  <div>
    <label th:for="year">생년월일</label>

<!--    <select th:field="*{year}" >-->
<!--      <option value="">년(YYYY)</option>-->
<!--      <th:block th:each="a: ${#numbers.listFormatInteger(#numbers.sequence(1950,2022),4)}">-->
<!--        <option th:value="${a}" th:text="${a}"></option>-->
<!--      </th:block>-->
<!--    </select>-->

<!--    <select  th:field="*{month}">-->
<!--      <option th:value="*{month}" th:text="*{month}" selected></option>-->
<!--      <option value="">월(mm)</option>-->
<!--      <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">-->
<!--        <option th:value="${month}" th:text="${month}"></option>-->
<!--      </th:block>-->
<!--    </select>-->

<!--    <select th:field="*{day}">-->
<!--      <option th:value="*{day}" th:text="*{day}" selected></option>-->
<!--      <option value="">일(dd)</option>-->
<!--      <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">-->
<!--        <option th:value="${day}" th:text="${day}"></option>-->
<!--      </th:block>-->
<!--    </select>-->
  </div>

  <div>
    <label th:for="hobby">관심사</label>
    <th:block th:each="hobby:${hobby}">
    <input type="checkbox" th:field="*{hobby}" th:value="${hobby.key}"/>
      <label th:for="${#ids.prev('hobby')}" th:text="${hobby.value}">여행</label>
<!--    <input type="checkbox" th:field="*{hobby}" th:value="패션" th:text="패션"/>패션-->
<!--    <input type="checkbox" th:field="*{hobby}" th:value="음식" th:text="음식"/>음식-->
    </th:block>
  </div>
  <button>전송</button>
</form>
</body>
</html>