<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> REST API </title>
</head>
<body>
<!--// 실습3. API-GET-->
<!--<p th:text="'내 이름은 ' + ${y}">이름</p>-->

<!--<p th:text="'내 이름은 ' + ${name}">이름</p>-->
<!--<p th:text="'내 나이는 ' + ${age}">나이</p>-->


<!--// 실습4. API-POST-->

<h5 th:text="${name}">이름</h5>

<!--<p th:text="'이름 : ' + ${name}">이름</p>-->
<!--<p th:text="'성별 : ' + ${age}">성별</p>-->
<!--<p th:text="'생년월일 : ' + ${year}+'-'+${month}+'-'+${day}">생년월일</p>-->
<!--<p th:text="'관심사 : '+ ${}">관심사</p>-->



</body>
</html>