.box {
    margin-bottom: 100px;
}

.px {
    width: 500px;
    height: 500px;
    background-color: palegoldenrod;
}

.pct-parent {
    width: 500px;
    height: 500px;
    background-color: plum;
}

.pct-child {
    width: 50%;
    height: 50%;
    background-color: palegreen;
}

.em {
    font-size: 2em;
}

.case1 {
    font-size: 20px;
}

.case2 {
    font-size: 10px;
}

.em-3 {
    font-size: 3em;
}

.rem {
    font-size: 2rem;
}

.vw {
    width: 20vw;
    height: 20vw;
    background-color: coral;
}

.vh {
    width: 20vh;
    height: 20vh;
    background-color: skyblue;
}

.test {
    font-size:  20px;
}

@media screen and (min-width: 768px) {
    .px {
        width: 900px;
        height: 900px;
        background-color:pink;
    }

    .test {
        font-size: 10vw;
    }
}

